.app__input {
	width: 200px;
	border-radius: 4px;
	border: 1px solid #b6d9ee;
	background-color: #fff;
	font-size: 18px;
	outline: none;
	padding: 10px;
	color: #484848;
	margin-bottom: 15px;
}

.app__button {
	cursor: pointer;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 600;
	border-radius: 4px;
	border: 1px solid #6abbee;
	padding: 10px;
	background-color: #6abbee;
	transition: background-color 0.2s ease;
}

.app__button:hover {
	background-color: rgb(68, 172, 237);
}

.app__button:disabled {
	cursor: auto;
	background-color: #6abbee;
}
